body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #3e3e3e;
}
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 10px;
}


/* CONTAINER
==================*/
.container, .container-title {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
}
.container-title {
    padding: 30px 0 30px;
}
.container-title h2 {
    font-weight: 400;
    text-align: center;
}
.general-title {
    font-size: 45px;
}


/* HEADER
==================*/
.header {
    width: 100%;
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}
.logo-text {
    font-family: 'Lato', sans-serif;
    font-size: 52px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
}


/* NAVIGATION
==================*/
.navigation-btn {
    font-size: 25px;
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
    margin-left: 60px;
}
.navigation-btn:hover {
    border-bottom: 1px #ffffff solid;
}
.navigation-btn:first-child {
    margin-left: 0px;
}


/* INTRO
==================*/
.intro {
    display: flex;
    text-align: right;
    height: 700px;
    padding-top: 155px;
    background: #7c695e url(source/apple-background.png) center no-repeat;
    background-size: cover;
}
.intro-title {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
}
.intro-sub-title {
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
    margin:  30px 30px 40px;
}
.intro-form {
    margin-left: auto;
    margin-right: 90px;
    width: 350px;
    height: 270px;
}
.intro-form-email,.intro-form-password {
    font-weight: 400;
    font-size: 21px;
    padding-left: 20px;
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
    border: none;
    border-radius: 2px;
}
.intro-form-submit {
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    width: 100%;
    height: 65px;
    background-color: #ba271f;
    color: white;
    border-width: 1px;
    border-color: white;
    border-radius: 2px;
    border-style: solid;
    cursor: pointer;
}


/* ADVANCED
==================*/
.advances {
    background-color: #fffcf4;
}
.advanced-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.advances-item {
    width: 31%;
    text-align: center;
}
.advances-icon {
    margin-bottom: 10px;
}
.advanced-title {
    font-size: 30px;
    font-weight: 400;
}
.advanced-text {
    font-weight: 400;
    margin-top: 5px;
    line-height: 30px;
    margin-bottom: 60px;
}
.advanced-arpha {
    height: 95px;
    width: 90px;
    margin: 165px 0 0;
}


/* COURSES
==================*/
.courses {
    background-color: #f0f0f0;
}
.courses-subtext {
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
}
.courses-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0 40px 0;
}
.courses-item {
    width: 48%;
    margin-bottom: 20px;
    background-color: #e8e8e8;
}
.courses-title {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}
.courses-item-text {
    padding: 0 0 20px 20px;
}
.courses-img {
    padding: 20px 20px 20px 0;
    height: 275px;
}
.courses-card{
    display: flex;
}
.courses-text {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
    line-height: 27px;
}
.courses-readmore {
    color: #fa3a5e;
}
.courses-btn {
    width: 160px;
    height: 30px;
    background-color: #ba271f;
    color: white;
    border-width: 1px;
    border-color: white;
    border-radius: 2px;
    border-style: solid;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 9px;
    margin: 29px 0 0 78px;
}


/* PARTHNERS
==================*/
.parthners {
    background-color: #fffcf4;
    text-align: center;
}
.parthners-general {
    display: flex;
    justify-content: center;
    align-items: center;
}
.parthners-item {
    margin: 0 30px 30px 0;
}
.parthners-name {
    margin-top: 10px;
    font-size: 25px;
}
.parthners-name:hover {
    color: #ba271f;
    cursor: pointer;
}
.parthners-movecircle {
    border: 2px solid;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border-color: #ba271f;
    margin-bottom: 100px;
    margin-right: 30px;
    cursor: pointer;
}
.parthners-leftpoint {
    width: 18px;
    height: 18px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: #ba271f;
    transform: rotate(45deg);
    margin: 11px 0 0 15px;
}
.parthners-rightpoint {
    width: 18px;
    height: 18px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: #ba271f;
    transform: rotate(225deg);
    margin: 11px 0 0 8px;
}


/* CERFICATE
==================*/
.certificate {
    display: flex;
    justify-content: space-around;
}
.certificate-img {
    width: 50%;
    background: url('source/education.png') right no-repeat;
    background-size: cover;
}
.certificate-info {
    width: 50%;
    background-color: #a99473;
    color: #f5f5f5;
    padding: 40px 0 0 90px;
}
.certificate-title {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-left: 10px;
}
.certificate-text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
    width: 360px;
}
.certificate-btn {
    width: 260px;
    height: 60px;
    background-color: #ba271f;
    color: white;
    border-width: 1px;
    border-color: white;
    border-radius: 2px;
    border-style: solid;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 100px;
}


/* DEVOPS
==================*/
.devops {
    background-color: #fffcf4;
}
.devopslist {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 20px;
}
.devops-person {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 22%;
}
.devopsimg {
    width: 255px;
    height: 255px;
}
.devops-name {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 30px;
}
.devops-info {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    line-height: 22px;
    width: 78%;
}
.social-networks {
    display: flex;
    margin-top: 20px;
}
.devops-link {
    margin-right: 15px;
}


/* REGISTRATION
==================*/
.registration {
    background-color: #b4a184;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
    color: #f3f3f3;
}
.registration-title {
    font-size: 60px;
}
.registration-subtext {
    font-size: 25px;
    font-weight: 400;
}
.registrationspace {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding-left: 35px;
    width: 475px;
    height: 65px;
    margin-bottom: 30px;
    border: none;
    border-radius: 2px;
}
.registration-btn {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 25px;
    width: 160px;
    height: 65px;
    background-color: #ba271f;
    color: white;
    border: none;
    cursor: pointer;
}


/* FOOTER
==================*/
.footer {
    background-color: #a99473;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.footer-text {
    font-size: 25px;
    line-height: 42px;
    color: #dfdfdf;
    width: 400px;
    padding: 60px 0 30px;
}
.footer-name {
    color: #ba271f;
}
.footer-icons-blue {
    display: flex;
    justify-content: space-between;
    width: 240px;
}
.footer-icons-red {
    display: flex;
    justify-content: space-between;
    width: 240px;
    margin-top: 10px;
    margin-bottom: 20px;
}


/* MEDIA
==================*/
@media screen and (max-width: 1330px) {
    .parthners-img {
        height: 200px;
    }
}
@media screen and (max-width: 1280px) {
    .header, .intro {
        padding-right: 20px;
        padding-left: 20px;
    }
    .logo-text {
        font-size: 48px;
    }
    .navigation-btn {
        font-size: 22px;
        margin-left: 30px;
    }
    .intro-title {
        font-size: 48px;
    }
    .intro-sub-title {
        font-size: 30px;
        margin-right: 0;
    }
    .general-title {
        font-size: 36px;
    }
    .advances {
        padding: 0 20px;
    }
    .advanced-title {
        font-size: 24px;
    }
    .courses-title {
        font-size: 18px;
    }
    .courses-text {
        font-size: 16px;
        width: 250px;
    }
    .courses-img {
        padding: 10px 10px 10px 0;
        height: 200px;
    }
    .courses-block {
        padding: 15px 20px 40px 20px;
    }
    .courses-card {
        justify-content: space-between;
        align-items: center;
    }
    .courses-btn {
        margin: 0;
    }
    .parthners-general {
        flex-wrap: wrap;
    }
    .parthners-movecircle {
        display: none;
    }
    .parthners-item {
        margin-right: 0;
    }
    .devopslist {
        justify-content: center;
        flex-wrap: wrap;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 0;
    }
    .devops-person {
        width: 30%;
    }
    .devopsimg {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        justify-content: center;
        text-align: center;
    }
    .intro {
        background: #7c695e url(source/apple-background.png) no-repeat;
    }
    .intro-sub-title {
        font-size: 30px;
        margin-left: 0;
    }
    .intro-form {
        margin: 0 auto;
    }
    .header-inner {
        flex-direction: column;
        padding: 30px 0;
    }
    .courses-block {
        display: block;
        margin: 0 auto;
    }
    .courses-item {
        width: 475px;
        margin: 0 auto;
    }
    .courses-card {
        margin-bottom: 20px;
    }
    .certificate-info {
        padding: 30px 0 0 30px;
    }
    .devops-person {
        width: 48%;
    }
}

@media screen and (max-width: 820px) {
    .intro {
        height: 780px;
    }
    .parthners {
        padding: 0 20px;
    }
    .certificate-info {
        padding: 20px 10px;
    }
    .certificate-text {
        width: 100%;
    }
    .certificate-title {
        font-size: 24px;
    }
    .certificate-btn {
        width: 210px;
        height: 40px;
        margin-bottom: 50px;
    }
    .registration-title{
        font-size: 48px;
    }
    .registration-subtext {
        font-size: 20px;
    }
    .registration {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .navigation-btn {
        margin-left: 10px;
    }
    .advanced-arpha {
        display: none;
    }
    .advanced-block {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .advances-item {
        width: 80%;
    }
    .courses-subtext {
        font-size: 18px;
    }
    .devops-person {
        width: 100%;
    }
    .registration-title{
        font-size: 36px;
    }
    .registrationspace {
        width: 390px;
    }
}

@media screen and (max-width: 510px) {
    .courses-text {
        width: 200px;
    }
    .courses-img {
        height: 165px;
    }
    .courses-item {
        width: 100%
    }
    .courses-subtext {
        padding: 0 20px;
    }

}

@media screen and (max-width: 485px) {
    .intro {
        height: 740px;
        padding-top: 185px;
    }
    .intro-sub-title {
        margin-top: 0;
        font-size: 24px;
    }
    .intro-title {
        font-size: 36px;
    }
    .general-title {
        font-size: 30px;
    }
    .advances {
        padding: 0 20px;
    }
}

@media screen and (max-width: 425px) {
    .intro-form-email, .intro-form-password, .intro-form-submit, .intro-form {
        width: 280px;
    }
    .intro-sub-title {
        font-size: 18px;
    }
    .intro-title {
        font-size: 24px;
    }
    .intro {
        height: 685px;
    }
    .advances {
        padding: 0px 10px;
    }
    .advances-item {
        width: 100%;
    }
    .courses-card {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .courses-btn {
        margin: 0;
    }
    .courses-item-text { 
        padding: 0 0 20px 0;
    }
    .courses-img {
        padding: 20px 0 10px 0;
    }
    .certificate-btn {
        width: 140px;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .certificate-info {
        width: 70%;
        text-align: center;
    }
    .certificate-img {
        width: 30%;
    }
    .registrationspace {
        width: 280px;
        height: 50px;
    }
    .registration-btn {
        height: 50px;
    }
    .footer-text {
        width: 250px;
    }
}
@media screen and (max-width: 320px) {
    .logo-text {
        font-size: 36px;
    }
    .intro-form-email, .intro-form-password, .intro-form-submit, .intro-form {
        width: 200px;
    }
    .devopsimg {
        width: 220px;
        height: 220px;
    }
    .registration-title {
        font-size: 24px;
    }
    .registrationspace {
        width: 205px;
    }
    .footer-icons-blue, .footer-icons-red {
        width: 200px;
    }
    .general-title {
        font-size: 21px;
    }
    .footer-text {
        width: 220px;
    }
}